
.contact{
	margin-top: 140px;
	min-width: $min-width;

	h1{
		font-size:50px;
		color: $dark;
		letter-spacing: 16px;
	}

	.half{
		flex:6;
	}

	.contact-info{
		padding-top: 70px;
	}

	.left-contact{

		a{
			color: black;
			font-weight: 400;
		}

		i{
			color: $semi-light;
			font-size: 30px;
		}

		p{
			line-height: $extra-line-height;
		}
	}

	.right-contact{
		background: #eee;
		padding: 20px;

		input{
			margin: 8px 0 18px 0;
			border: none;
			background: #eee;
			border-bottom: solid 2px #aaa;
			padding: 10px;
			font-size: 14px;
		}

		.input{
			width: 50%;
			height: 35px;
		}

		form{
			margin: 20px 30px 40px 30px;
		}

		#submit{
			margin-top: 30px;
			border:none;
			text-align: center;
			width: 40%;
			background-color: $dark;
			border-radius: 8px;
			height: 40px;
			color: $light;
			font-weight: 700;
			font-size: 15px;
			cursor: pointer;
		}

		textarea{
			padding: 15px;
			font-size: 14px;
			border: none;
			background: #ddd;
		}
	}
}

#reminder{
	display: none;
	color: red;
}

#popup{
	position: fixed;
	top:0;
	left:0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.8);
	display: none;
}

#popup-box{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 450px;
	height: 300px;
	background-color: $dark;
	padding: 20px 25px 20px 30px;


	p{
		line-height: $extra-line-height;
		color: $light;
		margin: 0;
	}

	#close{
		font-size: 20px;
		float: right;
		cursor: pointer;
	}

	img{
		width: 60px;
	}
}

@media screen and (max-width: $large) {
	
	.contact-info{
		flex-direction: column;
	}

	.input{
		width: 70%;
		height: 35px;
	}
	
}


@media screen and (max-width: $mobile) {

	.contact{
			h1{
			font-size:36px;
			color: $dark;
			letter-spacing: 10px;
		}
	}
	
	#popup-box{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		width: 250px;
		height: 380px;
		background-color: $dark;
		padding: 20px 25px 20px 30px;

		p{
			line-height: $extra-line-height;
			color: $light;
			margin: 0;
		}

		#close{
			font-size: 20px;
			float: right;
			cursor: pointer;
		}

		img{
			width: 60px;
		}
	}
	
	
}
