// Mixins

@mixin margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin text-center {
    text-align: center;
}

@mixin background($path, $position) {
	background-image: url($path);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: $position;
}