
/* ====== SCHEDULE ====== */

#scheduleBanner{
	width: 100%;
	height: 50vh;
	margin-top:65px;
	@include background("../images/indexbg.jpg", center);
	position: relative;
	min-width: $min-width;

	#scheduleBannerOverlay{
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.7);
	}

	h1{
		color: $dark;
		@include absolute-center;
		font-size: 40px;
	}
}


.schedule{

	.scheduleDesc{
		padding: 20px;
	}

	li{
		list-style-type:none;
	}

	table{
		width: 80%;
		margin: 40px auto;
	}
	
	th, td{
		width: 40%;
		height: 50px;
		padding: 15px;
	}

	th{
		background-color: $dark;
		color: $light;
	}

	.sessionBox{
		font-weight: 700;
		color:$dark;
		border-bottom: solid 2px $dark;
	}

	.thick{
		border-bottom: solid 2px $dark;
	}

	.thin{
		border-bottom: solid 0.2px #ddd;
	}

	h3{
		font-size: 30px;
	}

	.scheduleInfo{
		width: 100%;
		text-align: left;
		margin: 90px 0 50px 0;

		div{
			flex:6;
			padding: 10px 30px;
		}
	}
}


@media screen and (max-width: $medium) {

	.scheduleInfo{
		flex-direction: column;
	}

}


@media screen and (max-width: $mobile) {

	table{
		width: 80%;
		margin: 40px auto;
		font-size: 13px;
	}

	th, td{
		width: 40%;
		height: 50px;
	}
}