// Typography Styles

body {
    font-family: $text-font;
    line-height: $line-height;
}

h1, h2, h3, a, label {
    font-family: $title-font;
    text-decoration: none;
    margin: 0;
}

input, p, textarea{
	font-family: $text-font;
	line-height: $line-height;
}

a{
	color: $light;
	font-weight: 700;
}

b{
	font-weight: 700;
}



@media screen and (max-width: 600px) {
	

}