

// COLOURS

$bg-color: #003e6b;
$dark: #003e6b;
$light: #fff;
$semi-dark: lighten($dark, 40);
$semi-light: darken($light, 15);

// TYPOGRAPHY
$title-font: 'Ubuntu', sans-serif;
$text-font: 'Roboto', sans-serif;
$short-line-height: 0.7;
$single-line-height: 1;
$line-height: 1.2;
$extra-line-height: 1.5;

$max-width: 1200px;
$min-width: 320px;

