
// COLOURS
$bg-color: #003e6b;
$dark: #003e6b;
$light: #fff;
$semi-dark: lighten($dark, 40);
$semi-light: darken($light,6.5);
$semi-light2: darken($light,13.5);
$semi-light3: darken($light,33.5);

// TYPOGRAPHY
$font: 'Ubuntu', sans-serif;
$short-line-height: 0.7;
$single-line-height: 1;
$line-height: 1.2;
$extra-line-height: 1.5;

// SIZES
$max-width: 1100px; 
$min-width: 320px;
$large: 900px;
$medium: 768px;
$mobile: 520px;
$header-height: 70px;
$large-logo-height: 91px; // at larger screen-widths, the logo extends approximately this far below the top of the page.
